@tailwind base;
@tailwind components;
@tailwind utilities;



.loader{
   
   animation-name: LayoutLoader;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
   
}


@keyframes LayoutLoader {
        0% {
            rotate: 0deg;
            animation-delay: 0.1s;
        }
        
        50%{
            rotate: -180deg;
            animation-delay: 1s;
        }
        100%{
           rotate: -360deg;
           animation-delay: 2s;
        }
}